RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin: "*"
</IfModule>

<IfModule mod_suphp.c>
  suPHP_ConfigPath /home/datanbya/public_html
</IfModule>

RewriteCond %{HTTP_HOST} ^dev\.databrickroad\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.dev\.databrickroad\.com$
RewriteRule ^/?$ "http\:\/\/dev\.databrickroad\.com\/live" [R=301,L]

RewriteCond %{HTTP_HOST} ^databrickroad\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.databrickroad\.com$
RewriteRule ^/?$ "http\:\/\/databrickroad\.com\/live" [R=301,L]
